# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- languages used by Data Scientists
- libraries used by Data Scientists
- examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. python
2. c++
3. R

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| --------- |
| Jupyter |
| Apache Spark |
| Apache Hadoop |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers #
(3*4)+5

17

In [7]:
#  This will convert 200 minutes to hours by diving by 60 #
200 / 60

3.3333333333333335

**Author**
Erica B